* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Metropolis" sans-serif;
  text-decoration: none;
  list-style: none;
}
/* header  */

/* main */

/* footer */
